.aa{
   float: right;
}
.mt-10{
   margin-top: 7.5%;
}
.mtttttttt{
   margin-top: 10%;
   float: bottom;
}
.mt-2{
   margin-top: 2%;
}
.mt-3{
   margin-top: 2.5%;
}
.mt-35{
   margin-top: 3%;
}
.mt-4{
   margin-top: 4.5%;
}
.mt-45{
   margin-top: 4%;
}
.mt-5{
   margin-top: 4.8%;
}
.mt-1{
   margin-top: 1%;
}
.mb-1{
  margin-bottom: 20px;
}
.ml-5{
   margin-left: 5%;
}
.ml-2{
   margin-left: 2.5%;
}
.ml-1{
   margin-left: 1.5%;
}
.ml-3{
   margin-left: 3%;
}
.mr-2{
  margin-right: 2%;
}
.mr-5{
   margin-right: 5%;
 }
body {
   font-family: 'Prompt', sans-serif;
   font-weight: 400;
   overflow-x: hidden;
   overflow-y: auto;
 }
 .tc{
    text-align: center;
 }
 .marginIMG{
    height: 60px;
 }
 .innnnn{
   font-weight: 600;
   margin-top: 10px;
 }
 .bg-1{
    background-color: darksalmon;
 }
 .bct{
      height: 100%;
 }
 .fr{
    float: right;
 }
 .fb{
    margin-top: 380px;
 }
 .post-content{
   background: #f8f8f8;
   border-radius: 4px;
   width: 100%;
   border: 1px solid #f1f2f2;
   margin-bottom: 20px;
   overflow: hidden;
   position: relative;
 }
 
 .post-content img.post-image, video.post-video, .google-maps{
   width: 100%;
   height: auto;
 }
 
 .post-content .google-maps .map{
   height: 300px;
 }
 
 .post-content .post-container{
   padding: 20px;
 }
 
 .post-content .post-container .post-detail{
   margin-left: 65px;
   position: relative;
 }
 
 .post-content .post-container .post-detail .post-text{
   line-height: 24px;
   margin: 0;
 }
 
 .post-content .post-container .post-detail .reaction{
   position: absolute;
   right: 0;
   top: 0;
 }
 
 .post-content .post-container .post-detail .post-comment{
   display: inline-flex;
   margin: 10px auto;
   width: 100%;
 }
 
 .post-content .post-container .post-detail .post-comment img.profile-photo-sm{
   margin-right: 10px;
 }
 
 .post-content .post-container .post-detail .post-comment .form-control{
   height: 80px;
   border: 1px solid #ccc;
   box-shadow: inset 0 3px 3px rgba(0,0,0,.075);
   margin: 7px 0;
   min-width: 0;
 }
 
 img.profile-photo-md {
     height: 50px;
     width: 50px;
     border-radius: 50%;
 }
 
 img.profile-photo-sm {
     height: 40px;
     width: 40px;
     border-radius: 50%;
 }
 .name{
    color: dodgerblue;
 }
 .namedt{
   color: #e2703a;
}
 .fl{
    float: right;
    margin-bottom: 10px;
 }

.chart-container {
     width: 100%;
     height: auto;
 }
